
<div>
    <div class="card-header">
        <h1>Message Board</h1>
        <p class="lead">Latest Messages...</p>
        <div>
            Message Count: {{data.length}}
        </div>
    </div>
    <div>
        <a href="#/newmessage">Add New Message</a>
    </div>
    <div class="progress progress-bar-striped active" data-ng-show="isBusy">
        <div class="bar" style="width:100%;"></div>
    </div>
    <div class="messages">
        <div class="message" data-ng-repeat="i in data">
            <div class="span10 title">{{i.title}}</div>
            <div class="date pull-right">{{i.created | date:"medium" }}</div>
            <div class="span12 contents">{{i.body}}</div>
            <div class="span12 toolbar"><button class="btn btn-primary reply-button">Reply</button></div>
            <div class="replies">
                <div class="reply" data-ng-repeat="r in i.replies">
                    <div class="created pull-right">
                        {{r.created | date:"medium"}}
                    </div>
                    <div class="content">
                        {{r.body}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
